.nav{
    width: 100%;
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
}

.title{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}

ul{
    list-style-type: none;
}

ul .side{
    text-decoration: none;
    color: white;
    margin-right: 1rem;
}