@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.left-content {
    grid-template-columns: repeat(autofit, minmax(200px, 0.5fr));
  }
  
  #background {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
  
  #background::before {
    content: '';
    background: url('./background.png') 
        no-repeat center center/cover;
    position: fixed;
    opacity: 0.3;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }